[Unit]
Description=GPS Fallback Service
After=gpsd.service
Requires=gpsd.service

[Service]
ExecStart=python /usr/local/bin/gps-fallback.py  -n /usr/local/share/nmea_fake
Restart=always
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
