[Unit]
Description=GPS Fallback Service
After=gpsd.service
Requires=gpsd.service

[Service]
ExecStart=/usr/local/tahti/venv/bin/python /usr/local/tahti/gps-fallback.py
Restart=always
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
