[Unit]
After=multi-user.target

[Service]
Type=simple
User=tahti
ExecStart=sudo /usr/local/tahti/venv/bin/indi-web -v -H 127.0.0.1
Restart=always
Environment="PATH=/usr/local/tahti/venv/bin"
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
