[Service]
After=multi-user.target

Type=idle
User=tahti
ExecStart=/usr/local/tahti/venv/bin/python /usr/local/tahti/pointing.py
Restart=always
WorkingDirectory=/usr/local/indiweb
Environment="PATH=/usr/local/tahti/venv/bin"
RestartSec=5

[Install]
WantedBy=multi-user.target
