[Unit]
After=multi-user.target

[Service]
Type=simple
User=tahti
ExecStart=/usr/local/tahti/venv/bin/python /usr/local/tahti/pointing.py
Restart=always
Environment="PATH=/usr/local/tahti/venv/bin"
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
