
upstream novnc {
    server 127.0.0.1:6080;
}

upstream indiwebmanager {
    server 127.0.0.1:8624;
}

upstream gpspanel {
    server 127.0.0.1:8625;
}

upstream astropanel {
    server 127.0.0.1:8626;
}


server {
   listen 80;
   server_name _;

   location / {
      return 301 https://$host$request_uri;
   }
}


server {
    listen 443 ssl;

    ssl_certificate /usr/local/tahti/self.pem;
    ssl_certificate_key /usr/local/tahti/key.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'ECDHE-ECDSA-AES128-GCM-SHA256:...';
   
    ssl_session_cache   shared:SSL:30m;
    ssl_session_timeout 30m;

    root /var/www/html;

    index index.html;
    error_page 404 /404.html;
    error_page 401 = @redirect_to_login;
    error_page 500 502 503 504 /500.html;
    error_page 401 /500.html;
   
    server_name _;

    location / {
       auth_request /auth;
       auth_request_set $auth_cookie $upstream_http_set_cookie;
       proxy_set_header Cookie $http_cookie;
       proxy_set_header Authorization "Bearer $auth_cookie";
       proxy_set_header Host $host;
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
       try_files $uri $uri/ =404;
    }

    location /auth { # auth-check
       internal;
       proxy_ssl_verify off;
       proxy_pass_request_body off;

       proxy_set_header Content-Length "";
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
       proxy_set_header Authorization $http_authorization;
       proxy_set_header X-Original-URI $request_uri;
       proxy_set_header Cookie $http_cookie;

       proxy_set_header X-Original-URI $request_uri;
       proxy_set_header X-Forwarded-Proto $scheme;
       proxy_set_header X-Cert_Verify $ssl_client_verify;
       proxy_pass http://127.0.0.1:9000/validate/;
    }

    location @redirect_to_login {
       return 302 /?next=$request_uri;
    }

    location /login {
      auth_request off;
      proxy_set_header X-Original-URI $request_uri;
      proxy_pass http://127.0.0.1:9000/auth/;
    }

    location /logout {
      auth_request off;
      proxy_set_header	Cookie $http_cookie;
       proxy_pass http://127.0.0.1:9000/logout/;
    }
    location /public {
      auth_request off;
       default_type text/plain;
       return 200 "All Okay";
    }

   location /secure/ {
       auth_request /auth;
       proxy_set_header Authorization "Bearer $auth_cookie";
       proxy_set_header Cookie $http_cookie;
       proxy_set_header Authorization "Bearer $auth_cookie";
       proxy_set_header Host $host;
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
       proxy_http_version  1.1;
       try_files $uri $uri/ =404;
   }

   location /desktop/ {
       auth_request /auth;
       proxy_set_header Authorization "Bearer $auth_cookie";
       proxy_http_version  1.1;
       proxy_pass          http://novnc/;
       proxy_set_header    Upgrade $http_upgrade;
       proxy_set_header    Connection "upgrade";
       proxy_read_timeout 90;
       proxy_buffering off;
       add_header Cache-Control no-cache;
   }

    location /websockify {
       auth_request /auth;
       proxy_set_header Authorization "Bearer $auth_cookie";
       proxy_http_version 1.1;
       proxy_pass http://novnc/;
       proxy_set_header Upgrade $http_upgrade;
       proxy_set_header Connection "upgrade";
       proxy_read_timeout 90;
       proxy_buffering off;
       add_header Cache-Control no-cache;
    }

    ########### INDI webmanager block ########## 

    location /indiwebmanager/ {
       auth_request /auth;
       proxy_set_header Authorization "Bearer $auth_cookie";
       proxy_http_version  1.1;
       proxy_pass          http://indiwebmanager/;
       proxy_set_header    Upgrade $http_upgrade;
       proxy_set_header    Connection "upgrade";
       proxy_read_timeout  90;
       proxy_buffering     off;
    }

    location /static/ {
       auth_request /auth;
       proxy_set_header Authorization "Bearer $auth_cookie";
       proxy_http_version  1.1;
       proxy_pass          http://indiwebmanager/static/;
       proxy_set_header    Upgrade $http_upgrade;
       proxy_set_header    Connection "upgrade";
       proxy_read_timeout 90;
       proxy_buffering off;
    }

    location /api/ {
       auth_request /auth;
       proxy_set_header Authorization "Bearer $auth_cookie";
       proxy_http_version  1.1;
       proxy_pass          http://indiwebmanager/api/;
       proxy_set_header    Upgrade $http_upgrade;
       proxy_set_header    Connection "upgrade";
       proxy_read_timeout 90;
       proxy_buffering off;
    }

    ########### GPS panel block ########## 

    location /gpspanel/ {
       auth_request /auth;
       proxy_set_header Authorization "Bearer $auth_cookie";
       proxy_http_version  1.1;
       proxy_pass          http://gpspanel/;
       proxy_set_header    Upgrade $http_upgrade;
       proxy_set_header    Connection "upgrade";
       proxy_read_timeout  90;
       proxy_buffering     off;
    }

    location /gpspanel/assets/ {
       auth_request /auth;
       proxy_set_header Authorization "Bearer $auth_cookie";
       proxy_http_version  1.1;
       proxy_pass          http://gpspanel/assets/;
       proxy_set_header    Upgrade $http_upgrade;
       proxy_set_header    Connection "upgrade";
       proxy_read_timeout 90;
       proxy_buffering off;
    }

    location /gpspanel/socket.io/ {
       auth_request /auth;
       proxy_set_header Authorization "Bearer $auth_cookie";
       proxy_http_version  1.1;
      proxy_pass          http://gpspanel/socket.io/;
      proxy_set_header    Upgrade $http_upgrade;
      proxy_set_header    Connection "upgrade";
      proxy_read_timeout  90;
      proxy_buffering     off;
    }

    ########### Astro panel block ########## 

    location /astropanel/ {
       auth_request /auth;
       proxy_set_header Authorization "Bearer $auth_cookie";
       proxy_http_version  1.1;
       proxy_pass          http://astropanel/;
       proxy_set_header    Upgrade $http_upgrade;
       proxy_set_header    Connection "upgrade";
       proxy_read_timeout  90;
       proxy_buffering     off;
    }

    location /astropanel/assets/ {
       auth_request /auth;
       proxy_set_header Authorization "Bearer $auth_cookie";
       proxy_http_version  1.1;
       proxy_pass          http://astropanel/assets/;
       proxy_set_header    Upgrade $http_upgrade;
       proxy_set_header    Connection "upgrade";
       proxy_read_timeout 90;
       proxy_buffering off;
    }

    location /astropanel/socket.io/ {
       auth_request /auth;
       proxy_set_header Authorization "Bearer $auth_cookie";
       proxy_http_version  1.1;
      proxy_pass          http://astropanel/socket.io/;
      proxy_set_header    Upgrade $http_upgrade;
      proxy_set_header    Connection "upgrade";
      proxy_read_timeout  90;
      proxy_buffering     off;
    }
}